/* Variables e Inicializaciones */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size:medium;
	font-family:serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
    gap: 5px;
}

/* ------------------Header----------------- */

.header {
    width: 100%;
    height: auto;
    background-color:rgb(27, 47, 77);
    display:flex;
    flex-flow: column wrap;
    gap:30px;
    padding: 30px;
    border-radius: 8px;
}

.header-logo-container{
    width: 100%;
    height: auto;
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items: center;
}

.header-logo{
    width: 15%; 
}

.navigation-bar{
    text-align: end;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    text-align: center;
    width: 100%;
    flex: auto;
}

.header-list{
    width: 60%;
}

.header-list-item{
    display:inline;
}

.header-link{
    color: white;
    margin: 5px;
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline;
    color: blue;
}

/*Main*/

.main{
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    gap: 5px;
    width: 100%;
    border-radius: 8px;
}

/*---------------- JUMBOTRON -----------------*/

.jumbotron-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 30px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(27, 47, 77);
}

.jumbotron-item-1{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: baseline;
    justify-content:baseline;
    width: 48%;
    font-size:x-large;
    font-style:bold;
    text-wrap:wrap
}

.jumbotron-item-2{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    text-align: baseline;
    width: 48%;
    gap: 30px;
    
}

/*Jumbotron email input box*/

/* Style the form element with a border around it */
form {
    border: 1px solid black;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color:white;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #40667c;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  /* ------------------Blog-------------------- */

.blog-container{
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    width: 100%;
    background-color:rgb(27, 47, 77);
    padding: 30px;
    gap: 30px;
    border-radius: 8px;
}

.blog-header-section{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 100%;
    color: white;
}
.blog-item-container{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.blog-item{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.blog-item-img{
    width:100%;
    height: fit-content;
    border-radius: 8px;
}

.blog-item-img:hover{
    opacity: 0.7;
}

.blog-link{
    text-decoration: none;
    color: black;
}

.blog-link:hover {
    text-decoration: underline;
    color: white;
}